
bin/AndroidManifest.xml

bin/classes.dex

*.class

*.jar

*.apk

*.cache

*.ap_

gen/com/example/ledemo/BuildConfig.java

gen/com/example/ledemo/R.java

bin/res/crunch/drawable-xxhdpi/ic_launcher.png

bin/res/crunch/drawable-xhdpi/ic_launcher.png

bin/res/crunch/drawable-mdpi/ic_launcher.png

bin/res/crunch/drawable-hdpi/ic_launcher.png
